*{
    margin: 0;
    padding: 0;
}
#titulo {
    font-family: sans-serif;
    color: #011638;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: #2E294E;
    margin-left: 10%;
}
fieldset {
    border: 0;
}

main {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

body {
    background-color: aquamarine;    
}
